<a href="https://colab.research.google.com/github/r-ap/TrainingMachineLearning/blob/main/BFI_PYIM_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function

## Latar Belakang Masalah

Function pada Python adalah kumpulan code yang nantinya akan dipakai kembali di beberapa line code di bawahnya.

Kita lihat permasalahan yang melatarbelakangi munculnya konsep function berikut:

In [ ]:
#Kasus 1: Menghitung luas segitiga
# alas1 = 2, tinggi1 = 4
# alas2 = 3, tinggi2 = 6
# alas3 = 4, tinggi3 = 7
# alas4 = 5, tinggi4 = 8

alas1, alas2, alas3, alas4 = 2, 3, 4, 5
tinggi1, tinggi2, tinggi3, tinggi4 = 4, 6, 7, 8

Luas1 = (alas1 * tinggi1)/2
print(Luas1)

Luas2 = (alas2 * tinggi2)/2
print(Luas2)

Luas3 = (alas3 * tinggi3)/2
print(Luas3)

Luas4 = (alas4 * tinggi4)/2
print(Luas4)

4.0
9.0
14.0
20.0

In [ ]:
#Kasus 2: menghitung Luas bangun datar antara segitiga, persegi panjang/persegi, dan jajargenjang diketahui besar sisi1(alas/panjang) dan sisi2 (tinggi/lebar)

bangun_datar = "segitiga"
sisi1 = 4
sisi2 = 10

if bangun_datar == "segitiga":
  luas = (sisi1 * sisi2)/2
elif bangun_datar == "persegi panjang":
  luas = sisi1 * sisi2
elif bangun_datar == "jajargenjang":
  luas = sisi1 * sisi2
else:
  print("Jenis bangun datar tidak diperkenankan.")

In [ ]:
luas

20.0

## Pendefinisian dan Pemanggilan Function

In [ ]:
def Nama_Function (argumen1, argumen2):
  #statement
  pass #optional, dimasukkan hanya jika belum ada isi apapun dalam function

In [ ]:
#Contoh 1:

def luas_segitiga(alas,tinggi):
  LUAS = alas*tinggi/2
  print(f"luas segitiga ini adalah {LUAS}.")

In [ ]:
#Pemanggilan function luas_segitiga

In [ ]:
#Contoh 2:
def luas_bangun_datar(sisi1, sisi2, bangun_datar):
  if bangun_datar == "segitiga":
    LUAS = (sisi1 * sisi2)/2
    print(f"Luas segitiga: {LUAS}")
  elif bangun_datar == "persegi panjang":
    LUAS = sisi1 * sisi2
    print(f"Luas persegi panjang: {LUAS}")
  elif bangun_datar == "jajargenjang":
    LUAS = sisi1 * sisi2
    print(f"Luas jajargenjang: {LUAS}")
  else:
    print("Jenis bangun datar tidak diperkenankan.")

In [ ]:
#Pemanggilan function luas_bangun_datar

## Return Statement, Global Variable dan Local Variable

## Function Arguments

Tipe argumen:
- Required argument
- Keyword argument
- Default argument
- Variable-length argument

In [ ]:
def printnama(nama):
  print(f"Halo nama saya {nama}!")

### Required Argument

### Keyword argument

In [ ]:
printnama(nama="Fulan")

Halo nama saya Fulan!

### Default Argument

In [ ]:
def luas_segitiga(alas,tinggi=2):
  LUAS = alas*tinggi/2
  print(f"luas segitiga ini adalah {LUAS}.")

### Variable-length argument

Kita bisa menambahkan parameter/argumen yang kita inginkan (pastinya disesuaikan dengan kasus yang dijalankan pada sebuah function) saat memanggil function. Argumennya dapat disimpan dalam sebuah **tuple** atau **dictionary**.

**Tuple**

Hanya menerima non-keyword arguments

In [ ]:
def daftar_nama(sekolah, *nama_peserta):
  print("Peserta didik sekolah {sekolah}:")
  i = 0
  for nama in nama_peserta:
    i += 1
    print(f"{i}. {nama}")

In [ ]:
daftar_nama("Hacktiv8")

Peserta didik sekolah {sekolah}:

In [ ]:
daftar_nama("Hacktiv8","A","B","C")

Peserta didik sekolah {sekolah}:
1. A
2. B
3. C

**Dictionary**

Hanya menerima keyword arguments

In [ ]:
def luas_bangun_datar(bangun_datar, **sisi):
  if bangun_datar == "segitiga":
    LUAS = (sisi['alas'] * sisi['tinggi'])/2
    print(f"Luas segitiga: {LUAS}")
  elif bangun_datar == "persegi panjang":
    LUAS = sisi['panjang'] * sisi['tinggi']
    print(f"Luas persegi panjang: {LUAS}")
  elif bangun_datar == "jajargenjang":
    LUAS = sisi['alas'] * sisi['tinggi']
    print(f"Luas jajargenjang: {LUAS}")
  else:
    print("Jenis bangun datar tidak diperkenankan.")

## Fungsi Anonim/Implisit

Statement fungsi ini hanya bisa ditulis dalam satu baris dan melekat pada variabel. Biasanya digunakan untuk kasus yang sederhana.

`lambda arg1, arg2 : expression`

In [ ]:
penjumlahan = lambda x1, x2: x1 + x2

In [ ]:
penjumlahan(1,2)

3

## Docstring

In [ ]:
def sum_number(num1, num2):
  '''
  This function is used to sum of 2 variables.
  :param num1: Input number 1 | int or float
  :param num2: Input number 2 | int or float
  
  :return: num3: Sum of number | int or float
  '''

  num3 = num1 + num2
  return num3

In [ ]:
print(sum_number.__doc__)

  This function is used to sum of 2 variables.
  :param num1: Input number 1 | int or float
  :param num2: Input number 2 | int or float

  :return: num3: Sum of number | int or float

# Modul

In [ ]:
!wget -q https://raw.githubusercontent.com/fahmimnalfrzki/Dataset/main/modul.py

In [ ]:
import modul

In [ ]:
#Attribute
print(modul.nama)
print(modul.usia)

Fulan
30

In [ ]:
#Method
modul.gantinama('Bulan')

nama saya adalah Bulan

In [ ]:
from modul import nama

print(nama)

Fulan

# Package

# Soal latihan

1. Buatlah sebuah function untuk menghitung BMR dimana:

    `BMR Pria = 66 + (13.7 x BB) + (5 x TB) - (6.8 x U)`

    `BMR Wanita = 655 + (9.6 x BB) + (1.8 x TB) - (4.7 x U)`

    dimana BB: berat badan, TB: tinggi badan, U: usia

2. Buatlah sebuah function untuk menghitung luas lingkaran (gunakan pi = 3.14) dan gunakan function tersebut untuk menghitung luas 3 lingkaran masing-masing beradius 2, 3, 4. Jumlahkan ketiga lingkaran. 

    Lakukan penggunaan function untuk menghitung luas ketiga lingkaran dan menjumlahkannya hanya dalam satu baris!