<a href="https://colab.research.google.com/github/r-ap/TrainingMachineLearning/blob/main/Copy_of_BFI_PYIM_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conditional If


Pernyataan conditional if dapat ditulis sebagai berikut:

```
if <expr> :
  <statement>
```

"Jika suatu kondisi (expr) terpenuhi, maka jalankan suatu perintah (statement)"

*expr* selalu bernilai True

In [ ]:
x = 0
y = 5

In [ ]:
if x < y:                            # Truthy
    print('yes')

yes

In [ ]:
if y < x:                            # Falsy
    print('yes')

In [ ]:
if x:                                # Falsy
    print('yes')

In [ ]:
if y:                                # Truthy
    print('yes')

yes

In [ ]:
if 'aul' in 'grault':                # Truthy
    print('yes')

yes

In [ ]:
if 'quux' in ['foo', 'bar', 'baz']:  # Falsy
    print('yes')

## Indentasi sangat penting di Python

In [ ]:
if 'bar' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

Expression was true
Executing statement in suite
...
Done.
After conditional

## Nested If

In [ ]:
# Does line execute?                        Yes    No
#                                           ---    --
if 'foo' in ['foo', 'bar', 'baz']:        #  x
    print('Outer condition is true')      #  x

    if 10 > 20:                           #  x
        print('Inner condition 1')        #        x

    print('Between inner conditions')     #  x

    if 10 < 20:                           #  x
        print('Inner condition 2')        #  x

    print('End of outer condition')       #  x
print('After outer condition')            #  x

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

## Klausa If dan Elif (Else If)

```
if <expr>:
    <statement(s)>
elif <expr>:
    <statement(s)>
else:
    <statement(s)>
```

In [ ]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [ ]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

## One Line Statements

```
if <expr>: <statement_1>; <statement_2>; ...; <statement_n>
```

In [ ]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [ ]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

## Ternary Operator

Kalimat kondisi berubah dari `Jika suatu kondisi terpenuhi, maka jalankan suatu perintah` menjadi `Jalankan perintah jika suatu kondisi terpenuhi`.

```
<expr1> if <conditional_expr> else <expr2>
```

Bentuk ini biasanya dilekatkan pada variabel, objek, atau function

In [ ]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [ ]:
print('yes') if raining else print('no')

no

## LATIHAN

1. Buatlah program menggunakan conditional if untuk mengecek apakah suatu bilangan merupakan bilangin ganjil atau genap. Jika ganjil, cetak keluaran "Bilangan Ganjil", jika genap, cetak keluaran "Bilangan Genap".

2. Buatlah logika if untuk mengevaluasi nilai score dengan ketentuan:
   * Jika score bernilai 90 atau lebih
      - Isi variabel result dengan nilai: 'Selamat! Anda mendapatkan nilai A.'
   * Jika score bernilai 80 hingga 89
       - Isi variabel result dengan nilai: 'Anda mendapatkan nilai B.'
 *   Jika score bernilai 70 hingga 79
      - Isi variabel result dengan nilai: 'Anda mendapatkan nilai C.'
 *  Jika score bernilai 60 hingga 69:
      - Isi variabel result dengan nilai: 'Anda mendapatkan nilai D.'
 *  Jika score bernilai di bawah 60:
     - Isi variabel result dengan nilai: 'Anda mendapatkan nilai E.'

# Looping

Ada dua jenis pengulangan di Python yaitu `indefinite` dan `definite`.

`Indefinite Loop`, kita tidak menyatakan berapa jumlah iterasi yang akan terjadi.

`definite loop`, kita menyatakan berapa jumlah iterasi yang akan berlangsung.

## Indefinite Loop `While`

Penulisan syntax mirip seperti conditional If, dimana pernyataan kalimatnya: `Ketika suatu kondisi (expr) terpenuhi, maka jalankan suatu perintah (statement)`.

```
while <expr>:
    <statement(s)>
```

Seperti Conditional If, While akan terus berjalan selama `<expr>` bernilai `True`. Looping akan berhenti jika `<expr>` bernilai False

In [ ]:
n = 5
while n > 0:
    n -= 1
    print(n)
    print(True if n>0 else False)

4
True
3
True
2
True
1
True
0
False

### The Python break and continue Statements

`Python break` statement segera menghentikan perulangan seluruhnya. Eksekusi program dilanjutkan ke pernyataan pertama setelah badan loop.

`Python continue` statement segera menghentikan iterasi loop saat dijalankan. Eksekusi melompat ke atas loop, dan controlling expression dievaluasi ulang untuk menentukan apakah loop akan dieksekusi lagi atau dihentikan.

In [ ]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # Break Statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [ ]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue # Continue Statement
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

### Klausa Else pada While

```
while <expr>:
    <statement(s)>
else:
    <additional_statement(s)>
```

In [ ]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

### Infinite Loop

In [ ]:
while True:
    print('foo')

### Nested While Loop
```
while <expr1>:
    statement
    statement

    while <expr2>:
        statement
        statement
```

In [ ]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

### One-Line While

In [ ]:
n = 5
while n > 0: n -= 1; print(n)

## Definite Loop (For)

```
for <var> in <iterable>:
    <statement(s)>
```

`Untuk sebuah variabel di dalam suatu objek iterable maka jalankan suatu perintah`

In [ ]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [ ]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [ ]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d.values():
    print(k)

1
2
3

In [ ]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [ ]:
for j in range(5):
  print(j)

0
1
2
3
4

In [ ]:
for char in 'Hacktiv8':
  print(char)

H
a
c
k
t
i
v
8

### Break & Continue

In [ ]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [ ]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

### Bentuk lain dari for loop

`Jalankan perintah untuk suatu variabel di dalam suatu objek iterable`

In [ ]:
list_number = [i for i in range(5)]
list_number

[0, 1, 2, 3, 4]